<!DOCTYPE html>
<html lang="en">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
<body>
  <div id="fixed-content">
    <div id="n2r-logo">
      <a href="/">
        <img src="/img/notes2reveal.png">
      </a>
    </div>
    <div id="blog-logo">
      <a href="<%= @url %>">
        <span><%= @blogName %></span>
      </a>
    </div>
    <div id="messages-container">
      <% if @message && !@message.empty? %>
        <p id="message"><%= @message %></p>
      <% end %>
      <a href="#" id="message-close">Close</a>
    </div>
  </div>
  <div id="content">
    <div class="blog-header hideme">
      <h1>
        <span class='notes'><%= @blogName %></span>
        <span class='to'>Blog</span>
      </h1>
    </div>
    <%= yield %>
  </div>
  <%= erb :footer %>
</body>
</html>
